
@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}



/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}





/*//////////////////////////////////////////////////////////////////
[ Contact 2 ]*/
.bg-contact2 {
  width: 100%;  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container-contact2 {
  width: 100%;  
  min-height: 80vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #ff9933;
  background: -webkit-linear-gradient(45deg,  rgba(255, 122, 14, 0.8), rgba(229,57,53,0.8));
  background: -o-linear-gradient(45deg,  rgba(255, 122, 14, 0.8), rgba(229,57,53,0.8));
  background: -moz-linear-gradient(45deg,  rgba(255, 122, 14, 0.8), rgba(229,57,53,0.8));
  background: linear-gradient(45deg, rgba(255, 122, 14, 0.8), rgba(229,57,53,0.8));
}

.wrap-contact2 {
  width: 790px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 72px 55px 90px 55px;
}


/*------------------------------------------------------------------
[  ]*/

.contact2-form {
  width: 100%;
  height: 300px;
  padding-top: 10px;
}

.contact2-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 90px;
}



/*------------------------------------------------------------------
[  ]*/

.wrap-input2 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input2 {
  display: block;
  width: 100%;

  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
}

.focus-input2 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input2::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background:#ff9933;
  background: -webkit-linear-gradient(45deg, #d5007d, #e53935);
  background: -o-linear-gradient(45deg, #d5007d, #e53935);
  background: -moz-linear-gradient(45deg, #d5007d, #e53935);
  background: linear-gradient(45deg, #d5007d, #e53935);
}

.focus-input2::after {
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;

  font-family: Poppins-Regular;
  font-size: 13px;
  color: #999999;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/*---------------------------------------------*/
input.input2 {
  height: 45px;
}

input.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}

textarea.input2 {
  min-height: 115px;
  padding-top: 13px;
  padding-bottom: 13px;
}

textarea.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}

.input2:focus + .focus-input2::after {
  top: -13px;
}

.input2:focus + .focus-input2::before {
  width: 100%;
}

.has-val.input2 + .focus-input2::after {
  top: -13px;
}

.has-val.input2 + .focus-input2::before {
  width: 100%;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact2-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 0px;
}

.wrap-contact2-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  width: auto;
  overflow: hidden;
  margin: 0 auto;
}

.contact2-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #ff9933;
  background: -webkit-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
  background: -o-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
  background: -moz-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
  background: linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact2-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 244px;
  height: 50px;

 

  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  

}

.wrap-contact2-form-btn:hover .contact2-form-bgbtn {
  left: 0;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-contact2 {
    padding: 72px 15px 90px 15px;
  }
}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}


.frame{
  width: 600px;
  height: 350px;
  margin: 250px auto 0;
  position: relative;
  background: #ff3300;
  border-radius:0 0 40px 40px; 
}
#button_open_envelope{
  width: 180px;
  height: 50px;
  position: absolute;
  z-index: 311;
  top: 250px;
  left: 208px;
  border-radius: 10px;
  color: #fff;
  font-size: 26px;
  padding:30px 0; 
  border: 2px solid #fff;
  transition:.3s;
}
#button_open_envelope:hover{
  background: #FFf;
  color: #ff0000;
  transform:scale(1.1);
  transition:background .25s, transform .5s,ease-in;
  cursor: pointer;
}
.message{
  position: relative;
  width: 580px;
  min-height:300px;
  height: auto;
  background: #fff;
  margin: 0 auto;
  top: 30px;
  box-shadow: 0 0 5px 2px #333;
  transition:2s ease-in-out;
  transition-delay:1.5s;
  z-index: 300;
  display: none;
}
.left,.right,.top{width: 0; height: 0;position:absolute;top:0;z-index: 310;}
.left{  
  border-left: 300px solid #ff471a;
  border-top: 160px solid transparent;
  border-bottom: 160px solid transparent;
}
.right{ 
  border-right: 300px solid #ff471a;
  border-top: 160px solid transparent;
  border-bottom: 160px solid transparent;;
  left:300px;
}
.top{ 
  border-right: 300px solid transparent;
  border-top: 200px solid #ff5c33;
  border-left: 300px solid transparent;
  transition:transform 1s,border 1s, ease-in-out;
  transform-origin:top;
  transform:rotateX(0deg);
  z-index: 500;
}
.bottom{
  width: 600px;
  height: 190px;

  position: absolute;
  background: #ff3300;
  top: 160px;
  border-radius:0 0 30px 30px;
  z-index: 310; 
}

.open{
  transform-origin:top;
  transform:rotateX(180deg);
  transition:transform .7s,border .7s,z-index .7s ease-in-out;
  border-top: 200px solid #ff6600;
  z-index: 200;
}
.pull{
  -webkit-animation:message_animation 2s 1 ease-in-out;
  animation:message_animation 2s 1 ease-in-out;
  -webkit-animation-delay:.9s;
  animation-delay:.45s;
  transition:1.5s;
  transition-delay:1s;
  z-index: 350;
  display: block;
}
#name,#email,#phone,#messarea,#send{
  margin: 0;
  padding: 0 0 0 10px;
  width: 570px;
  height:40px;
  float: left;
  display: block;
  font-size: 18px;
  color: # ff0000;
  border:none;
  border-bottom:1px solid #bdbdbd;
  letter-spacing: normal;
}
#messarea{
  height: 117px;
  width: 560px;
  overflow: auto;
  border:none;
  padding: 10px;
}
#send{ 
  width:   580px;
  padding: 0; 
  border:  none;
  cursor:  pointer;
  background: #7CB342;
  color: #fff;
  transition:.35s;
  letter-spacing: 1px;
}
#send:hover{background:tomato;transition:.35s;}

::-moz-placeholder{color: #7CB342;font-family: 'Ubuntu';font-size: 20px;opacity: 1;} 
::-webkit-input-placeholder {color: #7CB342; font-family: 'Ubuntu';font-size: 20px;}
*:focus {outline: none;}
input:focus:invalid,textarea:focus:invalid {
 /* when a field is considered invalid by the browser */
    background: #fff url(images/invalid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border:1px solid #b03535;
}
input:required:valid,textarea:required:valid { 
  /* when a field is considered valid by the browser */
    background: #fff url(images/valid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}


@-webkit-keyframes message_animation {
  0%{
    transform:translatey(0px);
    z-index: 300;
    transition: 1s ease-in-out;
    display: none;
  }
  50%{
    transform:translatey(-340px);
    z-index: 300;
    transition: 1s ease-in-out;
    display: none;
  }
  51%{
    transform:translatey(-340px);
    z-index: 350;
    transition: 1s ease-in-out;
     display: none;
    
  }
  100%{
    transform:translatey(0px);
    z-index: 350;
    transition: 1s ease-in-out;
  }
}
@keyframes message_animation {
  0%{
    transform:translatey(0px);
    z-index: 300;
    transition: 1s ease-in-out;
    display: none;
  }
  50%{
    transform:translatey(-340px);
    z-index: 300;
    transition: 1s ease-in-out;
    display: none;
  }
  51%{
    transform:translatey(-340px);
    z-index: 350;
    transition: 1s ease-in-out;
  }
  100%{
    transform:translatey(0px);
    z-index: 350;
    transition: 1s ease-in-out;
  }
}