html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 9.4;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.preloader {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #061439; /* this is important so it's not transparent */
    top: 0px;
    left: 0px;
 }
 .loader {
    text-align: center;
    display: block;
    position: fixed;
    z-index: 99999999;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -35px;    
}
.loader span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 50px auto;
    background: #FFFFFF;
    border-radius: 50px;
    -webkit-animation: loader 0.9s infinite alternate;
    -moz-animation: loader 0.9s infinite alternate;
}
.loader span:nth-of-type(2) {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}
.loader span:nth-of-type(3) {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}
@-webkit-keyframes loader {
  0% {
    width: 10px;
    height: 10px;
    opacity: 0.9;
    -webkit-transform: translateY(0);
  }
  100% {
    width: 24px;
    height: 24px;
    opacity: 0.1;
    -webkit-transform: translateY(-21px);
    display: none;
  }
}
@-moz-keyframes loader {
  0% {
    width: 10px;
    height: 10px;
    opacity: 0.9;
    -moz-transform: translateY(0);
  }
  100% {
    width: 24px;
    height: 24px;
    opacity: 0.1;
    -moz-transform: translateY(-21px);
    display: none;
  }
}

/*
 * Background
 */

#background {
    background-color: #424145;
    position: relative;
    height: 12000px;
    overflow: hidden;
}

.bg-start {
    position: fixed;
    width: 100%;
    z-index: 100;
}
.bg-start img {
    width: 100%;
    height: auto; /* corresponds to max height of 450px */
    margin: 0 auto;
}

.bg-start-769 {
    position: fixed;
    width: 100%;
    z-index: 100;
}
.bg-start-769 img {
    width: 100%;
    height: auto; /* corresponds to max height of 450px */
    margin: 0 auto;
}

.bg-end {
    position: fixed;
    width: 100%;
    z-index: 200;
}
.bg-end img {
    width: 100%;
    height: auto; /* corresponds to max height of 450px */
    margin: 0 auto;
}
.bg-end-769 {
    position: fixed;
    width: 100%;
    z-index: 200;
}
.bg-end-769 img {
    width: 100%;
    height: auto; /* corresponds to max height of 450px */
    margin: 0 auto;
}


.snow {
    position: fixed;
    width: 100%;
    z-index: 300;
}
.snow img {
    width: 100%;
    height: auto; /* corresponds to max height of 450px */
    margin: 0 auto;
}
.snow-1 {
    z-index: 300;
}
.snow-2 {
    z-index: 400;
}
.snow-3 {
    z-index: 500;
}
.snow-4 img {
    z-index: 600;
}
.snow-5 {
    z-index: 700;
}
.snow-6 {
    z-index: 800;
}
.snow-7 {
    z-index: 900;
}
.snow-8 img {
    z-index: 1000;
}

.fixed-wrapper {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    position: fixed; 
    display: block; 
    z-index: 998;   
}

.svg-tree {
    z-index: 600;   
    display: block;
    float: right;    
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
/*    overflow: hidden; */
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.message {
    z-index: 600; 
    color: #FFFFFF;
    text-align: center;
    display: block; 
    float: left;
}
.message-text {
    font-family: 'Mountains of Christmas', cursive;
    font-size: 3.4vw;
}
.message-from {
    font-size: 1.5vw;
}
.message-logo {
    margin: 0 auto;
    position: relative;
    margin-top: 2%;
}
.message-logo img {
    width: 100%;
}

.scroll-down {
    position: fixed;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    z-index: 9999999999;
}
.scroll-tool-tip{
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 998;
    color: #FFFFFF;    
}



/* =Footer */
footer {
    color: #BCBCBC;
    opacity: 1;
    text-align: left;
    z-index: 9999;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer a{
/*    color: #DC7720;  */
    color: #FFFFFF;
    text-decoration: none;
}


/* Award */
.opl {
    position:fixed;
    top:50px;
    right:0px;
    z-index:99999;
}
.opl a {
    width:73px;
    height:56px;
    text-indent:-9999px;
    display:block;
    background:url('../img/one-page-love-award-right.png') no-repeat;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media all and (orientation:portrait) {
    /* =General */
    .bg-end {
        display: block;
    }
    .bg-start{
        display: block;
    }
    .bg-end-769 {
        display: none;
    }
    .bg-start-769 {
        display: none;
    }  
    
    .snow-land {
        display: none;
        visibility: hidden;
    }
    .snow-port {
        display: block;
        visibility: visible;
    } 

    .svg-tree {
        width: 70%;
        padding: 5% 15% 0 15%;
    }
    
    .message {
        width: 100%;
    }
    .message-text {
        margin-top: 5%;
    }    
    .message-from {
        margin-top: 2%;
    }
    .message-logo {
        width: 20%;
    }  

    .scroll-down {
        bottom: 7vw;
        
    }
    .scroll-down img {
        width: 5.5%;
        height: 5.5%;
        z-index: 999999999;
    }  
    .scroll-tool-tip{
        bottom: 10vw;        
    }  
    
    footer {
        font-size: 2vw !important;
    }      
}


@media all and (orientation:landscape) {
    
    /* =General */
    .bg-end {
        display: none;
    }
    .bg-start{
        display: none;
    }
    .bg-end-769 {
        display: block;
    }
    .bg-start-769 {
        display: block;
    }
    
    .snow-land {
        display: block;
        visibility: visible;
    }
    .snow-port {
        display: none;
        visibility: hidden;
    }
   
    .svg-tree {
        width: 45%;
        padding: 2.5%;
        z-index: 600;    
    }
    
    .message {
        margin-left: 5%;
        width: 45%;
    }
    .message-text {
        margin-top: 10%;
    }    
    .message-from {
        margin-top: 10%;
    }
    .message-logo {
        width: 30%;
    }
    
    .scroll-down {
        bottom: 3.5vw;
    }
    .scroll-down img {
        width: 3%;
        height: 3%;
        margin-bottom: 50px
    } 
    .scroll-tool-tip{
        bottom: 5.5vw;        
    }            

    /* =Footer */
    footer {
        font-size: 1vw !important;
    }      
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}



